__pycache__/
*py[cod]
.DS_Store

# notes
*.md
*.txt
# cached tex
cached_tex

!README.md

# ignore shortcut_manager.log
*.log
# Not sure what this is
.data

# ignore config.json
*.json

# test ideas
playground/
